.primary,
.secondary,
.dashboard
{
    padding: 1rem;
    border-radius: 0.8rem;
    transition: all 0.3s ease-in-out;
}

.primary
{
    border: none;
    color: #FFFFFF;
    background-color: #0a0e33;
}

.primary:hover
{
    background-color: #FFFFFF;
    color: #0a0e33;
}

.secondary
{
    border: 1px solid #0a0e33;
    color: #0a0e33;
}

.secondary:hover
{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #0a0e33;
}

.dashboard
{
    border: none;
    background-color: #e3e6f1;
    font-size: 1.6rem;
}

.dashboard:hover
{
    background-color: #cacdd7;
}

.header_style
{
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    border: none;
}

.header_style:hover
{
    border: none;
}

.primary_selected
{
    background-color: #FFFFFF;
    color: #0a0e33;
}