body
{
    overflow-y: scroll;
}

.control_header
{
    z-index: 2;
    backdrop-filter: blur(5rem);
}

.control_header button
{
    padding: 0.25rem 1rem;
}

.control_header:nth-child(1)
{
    margin: 0rem 11rem 0rem 0;
}

.container .non_item_container
{
    margin-top: 10rem;
}

.container .item_container
{
    margin-top: 5rem;
    padding: 2rem;
    width: 75%;
}


.container .item
{
    height: fit-content;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    background: #ffffff;
    break-inside:avoid;
    transition: none;
}

.container .item p
{
    width: fit-content;
}

.container .item img
{
    width: 100%;
}

.control
{
    background-color: #eeeeee;
    font-size: 1.8rem;
    outline: none;
    border: 0;
    transition: none;
    box-shadow: none;
}


.frontground
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: none;
    backdrop-filter: blur(0.5rem);
    z-index: 4;
    transition: all 0.3s ease-in-out;
}

.motion_div
{
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5rem auto;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.9);
}